@import "tailwindcss";

@theme {
    --color-maincolor: #51dacf;
}

@keyframes bounceLeftRight {
    0%, 100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(3%);
    }
}

@keyframes borderSpin {
    100% {
        transform: rotate(-360deg);
    }
}

@layer utilities {
    .scrollbar-main {
        scrollbar-width: auto;
        scrollbar-color: #51dacf #1f2937;
    }

        .scrollbar-main::-webkit-scrollbar-track {
            background: #1f2937;
        }

        .scrollbar-main::-webkit-scrollbar-thumb {
            background-color: #51dacf;
            border-radius: 4px;
        }

    .scrollbar-sidebar {
        scrollbar-width: thin;
        scrollbar-color: #51dacf #111827;
    }

        .scrollbar-sidebar::-webkit-scrollbar-track {
            background: #111827;
        }

        .scrollbar-sidebar::-webkit-scrollbar-thumb {
            background-color: #51dacf;
            border-radius: 3px;
        }

    .card-wrapper {
        overflow: hidden;
    }

        .card-wrapper::before {
            content: '';
            position: absolute;
            left: -25%;
            top: -25%;
            width: 150%;
            height: 150%;
            background: conic-gradient( color-mix(in srgb, var(--color-maincolor) 100%, transparent) 0deg, color-mix(in srgb, var(--color-maincolor) 100%, transparent) 0deg, transparent 80deg );
            animation: borderSpin 5s linear infinite;
        }
}

.animate-bounce-left-right {
    animation: bounceLeftRight 0.2s ease-in-out 3;
}

html, body {
    height: 100%;
    overflow: auto;
}
