@import "tailwindcss";

@theme {
    --color-maincolor: #51dacf;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: spin 2s linear infinite;
}

.perspective {
    perspective: 1000px;
}

.flip-container {
    transition: transform 0.7s;
    transform-style: preserve-3d;
}

.flip-180 {
    transform: rotateY(180deg);
}

.flip-front,
.flip-back {
    backface-visibility: hidden;
    width: 100%;
}

.flip-back {
    transform: rotateY(180deg);
}