name: partiabet
services:
  postgresql:
    image: postgres
    container_name: database
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: w-G?uM-c#JsfSr!3
      POSTGRES_DB: partiabet
    ports:
      - "5432:5432"
    networks:
      - app-network

  redis:
    image: redis:7.2-alpine
    container_name: database_redis
    ports:
      - "6379:6379"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge